@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">
                <h4>How's the weather?</h4>
                <p>@Model.WeatherDescription</p>
            </div>
        </div>
    </div>
</div>
